.card{
    height: 300px;
    width: 250px;
    display: inline-block;
    border: 2px solid black;
    box-shadow: 2px 2px 4px black;
    margin: 10px;
    border-radius: 15px;
    transition: 1s;
    overflow: hidden;
    text-align: center;
}
.desc{
    padding: 0 4px 0 4px;
}

img{
    width: 100%;
    border-radius: 15px;
    height: 120px;
    object-fit: cover;
}

.card:hover{
    box-shadow: 4px 8px 16px black;
}