#box1 {
     width: 100px;
     height: 100px;
     background: green; 
    }

#box1:hover{
    width: 600px;
    transition: width 2s ease-in 1s;

}

#box2{
    width: 100px;
    height: 100px;
    background-color: red;
    transform: translate(200px, 200px);
    transform: rotate(90deg);
}

#box3 {
    width: 100px;
     height: 100px;
    background: lightblue; 
    transform: skewX(20deg);
}
#box4 {
     width: 100px;
      height: 100px; 
      background: lightgreen; 
     box-shadow: 2px 2px 5px green;
    }

#mypic{
    width: 100px;
    height: 100px;
    color: white;
    background-color: pink;
    background-image: url("bkt.jpeg");
    background-size: cover;
    opacity: 50%;

}


